html {
  background-image: linear-gradient(to right, @deepblue, @fanta);
}

h1 {
  font-size: 5rem;
  color: @cloud;
  @desktop {
    font-size: 3rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 1.5rem;
  background-color: ;
  #title {
    align-self: center;
  }
  #logo {
    align-self: flex-start;
  }
}

p {
  color: @cloud;
  font-size: 1.5rem;
  margin: 1rem 1.5rem;
}

form {
  color: @cloud;
  font-size: 1.5rem;
}
